body {
    background: url(../Images/tlo_bg.jpg) repeat;
}
.Menu1 {
    border: 0px solid black;
    display: block;
    font-size: 12px;
}

.admin_menu {
    color: white;
    text-decoration: none;
    border-bottom: 0px !important;
}

a.submenu {
    text-decoration: none !important;
}

div.admin_menu:hover {
    background: red  !important;
    background-color: red  !important;
}

a.submenu, a.dropmenu {
    color: white;
}

.main-menu-span {
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.body_container {
    background: url(../Images/content_bg.jpg) repeat;
    border-radius: 0px 0px 10px 10px;
    float: left;
    border: 0px solid black;
    margin-top: 3%;
}

ul {
    list-style-type: none;
}

.pool_grey {
    background-color: lightgrey;
}

.img-rounded {
    border: 3px solid black;
}

@media (max-width: 765px) {
    .col-sm-10 {
        width: 100%;
    }
}

.hrPath {
    border: 1px solid lightgrey;
}

a.dropmenu:hover {
    background-color: black !important;
}

.hidden-span {
    display: inline-block !important;
    margin-left: 5px;
}

.logo_title {
    font-size: 30px;
    color: white;
    float: left;
}

a.logo_title, a.logo_title:hover {
    text-decoration: none;
    color: white;
}

.nawigacja {
    position: absolute !important;
}

.footer_admin {
    border: 0px solid red;
    text-align: center;
    color: white;
    font-size: 20px;
}