body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#lokacje > .row > a > .col-xs-12 > .panel {
    opacity: 0.8;
    border-color:white;
}

#lokacje > .row > a > .col-xs-12 > .panel:hover {
    opacity: 1;
    border-color:darkorange!important;
}

#lokacje > .row > a > .col-xs-12 > .panel > img {
    width:100%;
    border-radius: 4px;
}
#lokacje > .row > a > .col-xs-12 > .panel > .panel-footer {
    opacity: 0.8;
    margin-top: -41px;
}

#ContentOfMessage { 
    width:400px !important; 
    min-width:400px !important; 
    max-width:400px !important; 
    height:400px !important; 
    min-height:400px !important; 
    max-height:400px !important; 
}

.tr_grey:hover { 
    background: lightgrey; 
}

#tr_message {
    background-color: white;
}

.deleteButton {
    background-color: lightgrey;
}
.deleteButton:hover {
    background-color: darkred;
}
.deleteButton:link,
.deleteButton:focus,
.deleteButton.active,
.deleteButton:active {
    background-color: darkred;
}

.callback,
.simple {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
.callback{
  cursor: pointer;
}
.ended {
  background: #c0392b;
}
.styled{
  margin-bottom: 50px;
}
.styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
