@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<div class="container welcome">
    <hgroup>
        <h1>Błąd.</h1>
        <h2>Jakiś problem z aplikacją.</h2>
    </hgroup>
</div>
</body>
</html>
