@model IEnumerable<GameProject.Models.Entities.Image>
@{
    ViewBag.Title = "Spis Obrazków";
}

<h2>Obrazki</h2>
<p>
    @Html.ActionLink("Dodaj Obrazek", "Create", "Image" )
</p>
<div class="row">
@foreach (var image in Model) {
  <div class="col-sm-6 col-md-2">
    <a href="@Url.Action("Details","Image", new { id = image.ID })" class="thumbnai">
        <img src="@Url.Action("Show","Image", new { imageName = image.FileName })" class="img-rounded" width="150px" />
    </a>
  </div>
}
</div>
</table>
