@model SetImageViewModel

@{
    ViewBag.Title = "Ustaw Obrazek";
    ViewBag.Path = "/ Obraz / Ustaw";
}

<h2>Ustaw Obrazek</h2>

<div class="row">
    @foreach (var image in Model.Images)
    {
        <div class="col-sm-6 col-md-2">
            <a href="@Url.Action("Set", "Image", new { category = Model.Category, Model.Id, imageId = image.ID })" class="thumbnai">
                <img src="@Url.Action("Show","Image", new { imageName = image.FileName })" class="img-rounded" width="150px" />
            </a>
        </div>
    }
</div>
<div>
    <br />
    <a type="button" class="btn btn-default" href="@Url.Action("Index", "Image")">
        <i class="glyphicon glyphicon-arrow-left"></i> Wróć do listy
    </a>
</div>