@model IEnumerable<DetailsLocationViewModel>
@{
    ViewBag.Title = "Spis Lokacji";
}

<h2>Lokacje</h2>
<div class="container" id="lokacje">
    <div class="row">
        @foreach (var model in Model) {
        <a href="@Url.Action("Details", "Location", new { id=model.Location.ID })">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-primary">
                 <img src="@Url.Action("Show","Image", new { imageName = model.Image.FileName })" />
                    <div class="panel-footer">
                       @Html.DisplayFor(modelLocation => model.Location.Name)
                    </div>
                </div>
            </div>
        </a>
        }
    </div>
</div>


