@model IEnumerable<DetailsMonsterViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="container welcome">
<h2>Bestiariusz</h2>
<div class="container" id="lokacje">
    <div class="row">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "MonsterLore", new { id = item.Monster.Id })">
                <div class="col-xs-12 col-md-3">
                    <div class="panel panel-primary">
                        <img src="@Url.Action("Show", "Image", new { imageName = item.Image.FileName })" />
                        <div class="panel-footer">
                            @Html.DisplayFor(model => item.Monster.Name)
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
</div>



