@model IEnumerable<GameProject.Models.Entities.Location>
@{
    ViewBag.Title = "Index Image";
}

<h2>Locations</h2>
<p>
    @Html.ActionLink("Create New Location", "Create", "Location" )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var location in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelLocation => location.Name)
        </td>
        <td>

        <a type="button" class="btn btn-warning" href="@Url.Action("Edit/"+location.ID, "Location")">
            <i class="glyphicon glyphicon-edit"></i> Edytuj
        </a>

        </td>
    </tr>
}

</table>

